* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    border: 4px solid #fff;
    width: 75%;
    height: 500px;
    background-color: orange;
}

main p {
    width: 75%;
}

img {
    border: 4px solid #fff;
    margin-top: 100px;
    width: 300px;
    border-radius: 10%;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #000;
    color: #fff;
    margin: 20px 0 20px 0;
    padding: 10px;
}
ol{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

