* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    border: 4px solid #fff;
    width: 75%;
    height: 500px;
    background-color: orange;
}

main p {
    width: 75%;
}

img{
    border: 4px solid #fff;
    margin-top: 100px;
    width: 300px;
    border-radius: 10%;
}